    * {
        margin: 0px;
        padding: 0px;
        font-family: serif;
    }
    
    body {
        text-align: center;
        background-image: url(/assets/images/bg-image.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .log {
        margin-top: 10%;
        background-image: url(/assets/images/log-img.webp);
        width: 30%;
        height: 400px;
        margin-bottom: 10%;
        padding-top: 10%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        box-shadow: 0px 0px 15px black;
    }
    
    i {
        font-size: large;
        padding-right: 10px;
    }
    
    @media (max-width: 426px) {
        body {
            width: 100%;
            display: flex;
            align-items: center;
            height: 100vh;
        }
        .log {
            background-image: url(/assets/images/log-img.webp);
            width: 100%;
            height: 400px;
            margin-bottom: 10%;
            padding-top: 10%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 10px;
            box-shadow: 0px 0px 15px black;
        }
        #username {
            border: 1px solid black;
            border-radius: 5px;
            box-shadow: 0px 0px 15px rgb(47, 50, 2);
            font-size: small;
        }
        #login {
            padding: 20px 0 10px 0;
        }
    }
    
    @media (max-width:426px) and (max-width:769px) {
        body {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-position: cover;
        }
        #login {
            padding: 20px 0 10px 0;
        }
    }
    
    .log h1 {
        padding-bottom: 30px;
        color: rgb(96, 96, 12);
    }
    
    #username {
        padding: 7px;
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: 0px 0px 15px rgb(47, 50, 2);
        font-size: medium;
    }
    
    #password {
        padding: 7px;
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: 0px 0px 15px rgb(47, 50, 2);
        font-size: medium;
    }
    
    i {
        color: rgb(31, 32, 2);
    }
    
    .remember {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    #rem {
        margin-left: 70px;
    }
    
    #forget {
        margin-right: 50px;
        text-decoration: none;
        color: rgb(235, 70, 125);
    }
    
    #sub {
        padding: 10px;
        width: 100px;
        border-radius: 30px;
        box-shadow: 0px 0px 15px rgb(47, 50, 2);
        background-color: white;
    }
    
    #sub:hover {
        background-color: yellow;
        color: black;
        cursor: pointer;
    }