:root {
    --theme-color: #1C4D8D;
}

#nav-product {
    background-color: var(--theme-color);
    height: 70px;
    position: sticky;
    top: 0px;
    z-index: 1000;
}

.inputParent {
    width: 300px;
    margin-left: 90px;
    height: 50px;
}

#search-bar {
    background-color: #547792;
    color: white;
}

.buttonoff {
    background-color: #EAE0CF;
}

#h1 {
    text-align: center;
}

.buttona a {
    text-decoration: none;
}

footer {
    background-color: var(--theme-color);
}

.li li {
    list-style-type: none;
}

#bar {
    background-color: var(--theme-color);
}

#row {
    margin: 10px;
}

input {
    background: gold;
    height: 6px;
}

#img {
    transition: 2s linear;
}

#img:hover {
    transform: scale(1.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 426px) {
    #row {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        font-size: small;
        overflow: hidden;
    }
}