:root {
    --theme-color: #1C4D8D;
}

#nav-product {
    background-color: var(--theme-color);
    height: 70px;
    position: sticky;
    top: 0px;
    z-index: 1000;
}

.inputParent {
    width: 300px;
    margin-left: 90px;
}

#search-bar {
    background-color: #547792;
    color: white;
}

.buttonoff {
    background-color: #EAE0CF;
}

#h1 {
    text-align: center;
}

.buttona a {
    text-decoration: none;
}

footer {
    background-color: var(--theme-color);
}

.li li {
    list-style-type: none;
}

#bar {
    background-color: var(--theme-color);
}

#h1 {
    color: var(--theme-color);
}